---
// src/pages/about.astro
import Navigation from '../components/Navigation.astro';
---

<html lang="es">
<head>
  <title>Acerca de</title>
</head>
<body>
  <Navigation />
  <h1>Acerca de Nosotros</h1>
</body>
</html>